# -e .. # depot itself get installed by tox.ini automatically
boto
boto3
ming
mongo
pillow
pymongo
sphinx
sqlalchemy
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
